{% for vhost in vhosts %}
    - servername: "{{ vhost }}"
      documentroot: "/var/www/{{ vhost }}/public"
      certificate_file: "/etc/apache2/certs/{{ vhost }}.crt"
      certificate_key_file: "/etc/apache2/certs/{{ vhost }}.key"
{% endfor %}
